name: Scan vols Japon

permissions:
  contents: write

on:
  schedule:
    - cron: "0 3 */10 * *"
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Installer dépendances
        run: pip install -r requirements.txt

      - name: Lancer l’agent
        env:
          AMADEUS_CLIENT_ID: ${{ secrets.AMADEUS_CLIENT_ID }}
          AMADEUS_CLIENT_SECRET: ${{ secrets.AMADEUS_CLIENT_SECRET }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
        run: python script.py

      - name: Commit flights.csv
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add flights.csv
          git commit -m "Update flights.csv" || echo "No changes"
          git push

